---
layout: base.njk
---
<article class="article">
  <a class="back-link" href="/">&larr; Front Page</a>
  <h1 class="article__headline">{{ title }}</h1>
  {% if deck %}<p class="article__deck">{{ deck }}</p>{% endif %}
  <div class="article__meta byline">
    <span>By {{ author | default("The Dispatch") }}</span>
    &middot;
    <span>{{ date | readableDate }}</span>
  </div>
  {% if image %}
    <img class="article__image" src="{{ image }}" alt="{{ image_alt | default('') }}">
    {% if image_alt %}<p class="article__image-caption">{{ image_alt }}</p>{% endif %}
  {% endif %}
  <div class="article__body">
    {{ content | safe }}
  </div>
</article>
