<header class="masthead">
  <div class="masthead__dateline">
    <span>{{ buildDate | readableDate }}</span>
    <span class="masthead__dateline-sep">&middot;</span>
    <span>No. 1</span>
  </div>
  <div class="masthead__title-row">
    <a class="masthead__title" href="/">{{ site.name }}</a>
  </div>
  <p class="masthead__tagline">{{ site.tagline }}</p>
  <nav class="masthead__nav">
    <a href="/">Front Page</a>
    <a href="/archive/">Back Issues</a>
  </nav>
</header>
